In [29]:
import pandas as pd
pd.options.plotting.backend = "plotly"
import plotly.express as px
import plotly.graph_objects as go
from src.utils import setup_folders, return_static_features, return_dynamic_features

In [30]:
df1 = pd.read_csv("../../reports/results/HPP3/probabilistic/df_simulation_check_HPP3_RF.csv", sep = ";", index_col = [0])
df2 = pd.read_csv("../../reports/results/HPP3/probabilistic/df_simulation_check_HPP3_RF_v2.csv", sep = ";", index_col = [0])
df3 = pd.read_csv("../../reports/results/HPP3/probabilistic/df_simulation_check_HPP3_RF_v3.csv", sep = ";", index_col = [0])

In [31]:
df1.head()

,max_std_wind,mean_std_wind,max_std_solar,mean_std_solar,max_std_agr,mean_std_agr,max_std_agr_sum,mean_std_agr_sum
1,0.249627,0.234201,0.199392,0.084322,0.122705,0.103732,0.134698,0.113665
2,0.246935,0.233855,0.198450,0.083854,0.123462,0.102953,0.134736,0.112997
3,0.244298,0.232323,0.198726,0.084078,0.124353,0.102977,0.134248,0.112546
4,0.242712,0.231210,0.198410,0.084050,0.124621,0.102864,0.133761,0.112097
5,0.242019,0.231283,0.198094,0.084002,0.123723,0.102698,0.133738,0.112046

In [32]:
df2.head()

,max_std_wind,mean_std_wind,max_std_solar,mean_std_solar,max_std_agr,mean_std_agr,max_std_agr_sum,mean_std_agr_sum
10,0.242835,0.232053,0.196573,0.083630,0.123228,0.102783,0.133773,0.112167
20,0.242662,0.231571,0.199045,0.084021,0.123535,0.103039,0.134719,0.112294
30,0.242887,0.231922,0.198188,0.083880,0.124022,0.103272,0.134442,0.112367
40,0.243029,0.232073,0.197840,0.083753,0.124005,0.103285,0.134393,0.112370
50,0.243059,0.232250,0.197516,0.083663,0.123916,0.103286,0.134424,0.112403

In [33]:
df3.head()

,max_std_wind,mean_std_wind,max_std_solar,mean_std_solar,max_std_agr,mean_std_agr,max_std_agr_sum,mean_std_agr_sum
300,0.243635,0.232468,0.197430,0.083680,0.123561,0.103304,0.134419,0.112494
400,0.243661,0.232506,0.197470,0.083694,0.123638,0.103293,0.134378,0.112504
500,0.243703,0.232477,0.197539,0.083698,0.123712,0.103284,0.134393,0.112486

In [43]:
df = pd.concat([df1,df2,df3])
df = df.drop_duplicates()

In [44]:
path_out_sim_check = f"../../reports/results/All Plants/Simulation/"
setup_folders(path_out_sim_check)

../../reports/results/All Plants/Simulation/ does not exist... creating

# We plot simulation length check

In [48]:
fig = go.Figure()
fig.add_trace(go.Scatter(x=df.index, y=df['mean_std_wind'], mode='lines+markers'))
fig.update_layout(yaxis_title="Mean std horizons", xaxis_title='Number of simulations')
fig.update_layout(font=dict(family="Arial",size=22))
fig.write_image(f"{path_out_sim_check}/sim_check_mean_std_wind.pdf", width=720, height=720)

In [49]:
fig = go.Figure()
fig.add_trace(go.Scatter(x=df.index, y=df['mean_std_solar'], mode='lines+markers'))
fig.update_layout(yaxis_title="Mean std horizons", xaxis_title='Number of simulations')
fig.update_layout(font=dict(family="Arial",size=22))
fig.write_image(f"{path_out_sim_check}/sim_check_mean_std_solar.pdf", width=720, height=720)

In [51]:
fig = go.Figure()
fig.add_trace(go.Scatter(x=df.index, y=df['mean_std_agr'], mode='lines+markers'))
fig.update_layout(yaxis_title="Mean std horizons", xaxis_title='Number of simulations')
fig.update_layout(font=dict(family="Arial",size=22))
fig.write_image(f"{path_out_sim_check}/sim_check_mean_std_agr.pdf", width=720, height=720)

In [54]:
fig = go.Figure()
fig.add_trace(go.Scatter(x=df.index, y=df['mean_std_agr_sum'], mode='lines+markers'))
fig.update_layout(yaxis_title="Mean std horizons", xaxis_title='Number of simulations')
fig.update_layout(font=dict(family="Arial",size=22))
fig.write_image(f"{path_out_sim_check}/sim_check_mean_std_agr_sum.pdf", width=720, height=720)